<section class="todoapp">
  <div> 
    <h1>To Do List</h1>
    <form id="new-form">
      <input type="text" class="new-todo" />
    </form>
  </div>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>

<section class="author">
  Write a <%= link_to "NEW", "https://todoster-katrina-klawiter.herokuapp.com" %>
  To Do List, application built by
  <%= link_to "Katrina Klawiter", "https://github.com/KKlawiter" %>
</section>